<h1>Tasks</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<form id="add-task-form" class="form-inline">
			<div class="form-group">
				<label for="task" class="control-label">New task</label>
				<input type="text" class="form-control" id="task">
			</div>
			<button class="btn btn-default" id="add-task" type="submit">Add</button>
		</form>

		<!-- our tasks go here -->
		<ol id="task-list" class="list-group">
		</ol>
	</div>
</div>